 h1 {
            margin-bottom: 20px;  
        }

        h2 {
            margin-bottom: 30px;
        }

        p {
            font-size: 1.2em;
        }

        #score {
            font-size: 1.4em;
        }

        .marginBotom {
            margin-bottom: 30px;

        }

        .marginBotom10 {
            margin-bottom: 15px;
        }

        .marginLeft {
            margin-left: 30px;
        }

        .navButton {
            width: 120px;
        }

        .subButton {
            width: 240px;
        }

        #quiz {
          max-width: 350px;
        }

        .answers {
            width: 55%;
            display: inline-block;
            text-align: left;
        }
        #top {
            background-color: black;
            color: white;
           
        }